.mf {
  background-color: purple;
}

.pf {
  background-color: blue;
}

.mpf {
  background-color: darkblue;
  width: 30px;
}

.la {
  background-color: orangered;
  width: 30px;
}

.vr {
  background-color: red;
  width: 30px;
}

.tlm {
  background-color: palevioletred;
}

.tls {
  background-color: palevioletred;
  width: 30px;
}
